/* Reset básico para remover margens e padding padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  color: #555;
}

